.panel {
  border-radius: 5px 5px 0px 0px;
  &--box-shadow {
    border: none !important;
    box-shadow: 0px 3px 6px #00000029;
  }
  &-heading {
    @include nunito_bold;
    @extend .text-center;
    font-size: $font-size-large;
  }
  &-body {
    > form {
      padding-top: ($panel-body-padding * 2);
      padding-left: $panel-body-padding;
      padding-right: $panel-body-padding;
    }
  }
  &-search {
    padding: 0 35px;
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 88px;
    position: relative;
    input {
      max-width: 50%;
      border: 1px solid #e9e9e9;
      margin-right: $gap;
      &:focus {
        box-shadow: none;
      }
    }
    .title {
      font-weight: bold;
      margin-right: $gap;
    }
    .btn {
      border: none;
    }
  }
  &.shared-links {
    .list-inline {
      margin-bottom: 0px;
    }
  }
  .table {
    margin-top: 3rem;
  }
}

.panel-info-container {
  .info-title {
    background: $brand-primary;
    color: white;
    padding: $gap * 1.5 $gap * 4;
    text-transform: uppercase;
  }

  .panel-info {
    background-color: $grey-light;
    box-shadow: 0px 3px 6px #0b485121;
    display: flex;
    flex-wrap: wrap;
    column-gap: 140px;
    row-gap: 30px;
    padding: $padding-table-height $padding-table-width;
    width: 100%;
    min-width: 300px;

    .info-subtitle {
      font-size: 18px;
      text-transform: uppercase;
      width: 100%;
      color: $brand-primary;
      padding: $gap 0;
    }

    .item-info {
      font-weight: 600;
      .name {
        color: $grey-light-3;
        margin-bottom: $gap - 4;
      }
      .value {
        color: $text-color;
      }
    }

    &.colored {
      .item-info {
        .name {
          color: $txt-color;
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 2.4px;
          margin-bottom: $gap;
        }
        .value {
          color: $brand-primary;
          font-size: 18px;
          text-transform: uppercase;
        }
      }
    }
  }
}
