.vue-notification-group {
  top: ( $navbar-height + ( $gap * 2 ) ) !important;
  z-index: 1003;
  .vue-notification-template{
    padding: 10px;
    margin: 0 5px 5px;
   
    font-size: 12px;
   
    color: #ffffff;
    background: #44A4FC;
    border-left: 5px solid #187FE7;
   
    &.warn {
      background: #ffb648;
      border-left-color: #f48a06;
    }
   
    &.error {
      background: #E54D42;
      border-left-color: #B82E24;
    }
   
    &.success {
      background: $brand-primary;
      border-left-color: darken($brand-primary, 10);
    }
  }
}